@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  /* Colors: */
  --text-color-006136: #006136;
  --text-color-74b71b: #74b71b;
  --text-color-006a4e: #006a4e;
  --text-color-bca235: #bca235;
  --text-color-262626: #262626;
  --text-color-838eab: #838eab;
  --text-color-8a8f9c: #8a8f9c;
  --text-color-ffffff: #ffffff;
  --text-color-f2f2f4: #f2f2f4;
  --text-color-525f7f: #525f7f;
  --text-color-e6ebf1: #e6ebf1;
  --text-color-e7246b: #e7246b;
  --text-color-e6e8ee: #e6e8ee;
  --text-color-dcb81d: #dcb81d;
  --text-color-e1e8ee: #e1e8ee;
  --text-color-f1f1f13b: #f1f1f13b;
  --text-color-fcfcfc: #fcfcfc;
  --text-color-f8bcd2: #f8bcd2;
  --text-color-ee6295: #ee6295;
  --text-color-3c3c3f: #3c3c3f;
  --text-color-59626a: #59626a;

  /* Font/text values */
  --font-family-raleway: Raleway;
  --font-style-normal: normal;
  --font-weight-300: 300px;
  --font-weight-600: 600px;
  --font-weight-normal: normal;
  --font-weight-medium: medium;
  --font-weight-bold: bold;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --character-spacing-0: 0px;
  --character-spacing-0-01: 0.01px;
  --line-spacing-14: 14px;
  --line-spacing-16: 16px;
  --line-spacing-19: 19px;
  --line-spacing-21: 21px;
  --line-spacing-22: 22px;
  --line-spacing-24: 24px;
  --line-spacing-25: 25px;
}

/* Character Styles */
.text-character-style-1 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-19);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-3c3c3f);
}
.text-character-style-2 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-19);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-262626);
}
.text-character-style-3 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-22);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-59626a);
}
.text-character-style-4 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-18);
  line-height: var(--line-spacing-21);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-262626);
}
.text-character-style-5 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-19);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-74b71b);
}
.text-character-style-6 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-19);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-bca235);
}
.text-character-style-7 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-19);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-006a4e);
}
.text-character-style-8 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-19);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-74b71b);
}
.text-character-style-9 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-16);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-838eab);
}
.text-character-style-10 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-25);
  letter-spacing: var(--character-spacing-0-01);
  color: var(--color-262626);
}
.text-character-style-11 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-12);
  line-height: var(--line-spacing-14);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-262626);
}
.text-character-style-12 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-300);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-16);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-838eab);
}
.text-character-style-13 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-12);
  line-height: var(--line-spacing-14);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-838eab);
}
.text-character-style-14 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-16);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-525f7f);
}
.text-character-style-15 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-16);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-262626);
}
.text-character-style-16 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-20);
  line-height: var(--line-spacing-24);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-006a4e);
}
.text-character-style-17 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-19);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-838eab);
}
.text-character-style-18 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-19);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-ffffff);
}
.text-character-style-19 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-16);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-ffffff);
}
.text-character-style-20 {
  font-family: var(--font-family-raleway);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-16);
  line-height: var(--line-spacing-19);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-838eab);
}
